#links img,footer img, li img, h1 img, h2 img, h3 img, p img, .dropme img {
    height: 1em;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 2em;
}

body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-size: 16px;
    color: inherit;
    background: inherit;
    font-family:monospace, monospace;
}

html {
    padding-bottom: 100px;
}

dt {
	color: orange;
	margin-top: 2px;
}

dd {
	margin-bottom: 2px;
}

h1{
    text-align: center;
}
p {
  text-align: justify;
}
a {
	text-decoration: none;
}

a:hover {
	color: red;
}

.menubar {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align:center;

}


.menubar li {
    display: block;
    float: left;
    width: 100px;
    padding: 1px;
    margin: 1px;
}


code {
	color: green;
    /* overflow-x: auto; */
}

/* pre { */
/*     background: var(--color256); */
/*     border: 1px solid var(--color8); */
/*     border-radius: 4px; */
/*     padding: 5px; */
/*     display: block; */
/*     align: center; */
/*     max-width: 900px; */
/*     /1* background: #1d2021; *1/ */
/* } */

#list tr:nth-child(even) {
    background: #333;
}

#list th {
    background: #33a ;
    border: 0px;
}



